* {
	box-sizing: border-box;
}

body{
    background-color: rgb(160, 167, 170);
	color: #fff;
	display: flex; 
	align-items: center;
	justify-content: center;
	height: 100vh;
    margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container { 
    margin: 20px 0;
	padding: 100px;
	background-color: #b8afc6;
	border-radius: 5px;
}

.scores a {
	color: #563d7c;
	text-decoration: none;
	font-size: large;
	font-weight: bold;
}

.timer {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 60px;
}

.start h1 {
	text-align: center;
	text-shadow: 1px 0 10px #8570a5;
}
.start p {
	padding-top: 15px;
}

/* #start {
    background-color: #4b5052;
	
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	width: 22%; 
} */

.start button {
	background-color: #563d7c;
	color: #fff;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	box-shadow: 5px 5px 2px #301f4a;
}

.choices {
	text-align: center;
}

#questionTitle {
	text-decoration: underline  #8570a5;
}

.choices button {
	text-align: left;
	margin: 15px;
	cursor: pointer;
	font-size: 100%;
	background-color: #563d7c;
	border-radius: 5px;
	padding: 8px 20px 8px 20px;
	color: rgb(247, 243, 243);
	border: none ;
	transition: background-color 0.1s;
	
	box-shadow: inset 5em 1em #8570a5;
	box-shadow: 5px 5px 2px #301f4a;
  }

  button:hover {
	background-color: #47109b;
  }
  
  .choices button {
	display: block;
  }

.hide {
    display: none;
}

.time {
	border: 2px solid black;
	color: black;
	/* padding left: 50px; */
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	width: 22%;
}



